@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes slidedown {
  0%   { top:-1000px; }
  80%  { top:10px; }
  100% { top: 0px; }
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

body {
  background: #34495E;
  color: #444;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0.5em;
}

.content {
  border-radius: 0.5em;
  text-align: center;
  padding: 2em;
  background: #FEFEFE;
  -moz-animation: "slidedown" 2s;
  -webkit-animation: "slidedown" 2s;
  animation: "slidedown" 2s;
  margin: auto;
  max-width: 45em;
}

.avatar {
  background-image: url(avatar.jpg);
  background-size: 184px 184px;
  background-repeat: no-repeat;
  width: 11.5em;
  height: 11.5em;
  border: .30em solid #34495E;
  margin: auto;
  border-radius: 6em; 
}

.name {
  font-family: Gill Sans, Helvetica;
  font-size: 3em;
  margin: auto;
  margin-bottom: .4em;
}

ul.contact {
  padding: 0;
  font-family: Helvetica, Times New Roman;
  text-align: left;
  max-width: 16em;
  margin: auto;
  list-style: none;
  position: relative;
}
ul.contact li {
  line-height: 2.25em;
  border-top: 1px solid #EEE;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0);
  text-align: center;
}
ul.contact li a {
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0);
}
ul li:hover {
  border-bottom: 1px solid #2980b9;
}


a {
  color: inherit;
  text-decoration: none !important;
}

@media (max-width: 480px) {
  .cell {
    padding: 0;
    display: block;
  }
  .avatar {
    border-color: #FEFEFE;
  }
  .content {
    border: none;
    background: #34495E;
    color: #FEFEFE;
  }
}

.bluesky-logo {
  background-color: #444;
  -webkit-mask: url(bluesky.svg) no-repeat center;
  mask: url(bluesky.svg) no-repeat center;
  mask-size: 1em;
  width: 1em;
  height: 1em;
  display: inline-block;
}
